html {
    font-size: 100px;
}

body {
    margin: 0 auto;
    width: 1530px;
    font-size: 16px;
    background: #000000;
}

@media screen and (min-width: 1536px) {
    body {
        min-width: 1530px;
        width: 1530px
    }
}

@media screen and (min-width: 1900px) {
    body {
        min-width: 1900px;
        width: 1900px;
    }
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.login {
    width: 100%;
}

.login .login_box {
    margin: 0 auto;
    width: 60%;
}

.login .login_box .logo {
    width: 100%;
}

.login .login_box .logo a {
    display: block;
    width: 1.9rem;
    height: 1.7rem;
}

.login .login_box .conter {
    margin-top: 1rem;
    width: 100%;
    color: #ffffff;
    /*background: orange;*/
}

.login .login_box .conter .left {
    float: left;
    width: 50%;
}

.login .login_box .conter .left h1 {
    margin-top: 0.8rem;
}

.login .login_box .conter .left p {
    margin: 0.2rem 0;
}

.login .login_box .conter .left .fo {
    padding: 0.15rem;
    width:  90%;
    height: 0.8rem;
    background: rgba(240, 240, 240, .2);
    border-radius: 0.05rem;
    box-sizing: border-box;
}

.login .login_box .conter .left .fo p {
    margin-top: 0.1rem;
    font-size: 0.1rem;
}

.login .login_box .conter .right {
    float: right;
    width: 30%;
    height: 3rem;
    background: #ffffff;
    border-radius: 0.05rem;
}

.login .login_box .conter .right .login_con {
    margin: 0 auto;
    width: 80%;
    height: 300px;
}

.login .login_box .conter .right .login_con span a {
    display: block;
    float: left;
    width: 50%;
    height: 0.6rem;
    line-height: 0.7rem;
    text-align: center;
    border-bottom: 1px dashed #333333;
}

.login_box .conter .right .login_con span a:first-child {
    border-bottom: 2px solid #888888;
}

.login_box .conter .right .login_con .ipt input {
    margin-top: 0.2rem;
    padding: 0.05rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px dashed #000000;
    box-sizing: border-box;
}

.login_box .conter .right .login_con .ipt {
    text-align: right;
}

.login_box .conter .right .login_con .ipt a {
    color: #000000;
    font-size: 0.1rem;
}
.login_box .conter .right .login_con .btn {
    text-align: center;
}
.login_box .conter .right .login_con .btn input {
    margin: 0.5rem 0;
    width: 95%;
    height: 0.3rem;
    color: #ffffff;
    background: #68aaeb;
    border-radius: 0.05rem;
    border: none;
}
